<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <div style="text-align: center;">
      <p>Please login.</p>
      <ion-button (click)="login()">Login with Google</ion-button>
    </div>
  </ng-template>

  <ul>
    <li *ngFor="let item of items | async">
      {{ item.name }}
    </li>
  </ul> -->

  <div style="position: absolute; top: 72vh; width: 100vw; padding: 0vw 12vw;">
    <ion-button (click)="login()" shape="round" expand="full" color="rid-goodgreen-two">Login with Google</ion-button>
  </div>

  <div style="position: absolute; bottom: 10px; left: 0px; right: 0px;">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center ion-align-self-center" style="height: 50px;">
        <ion-text color="rid-goodgreen-two" style="width: 100%; vertical-align: middle;">Powered by</ion-text>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <img src="../../../assets/images/logo.png" style="height: 25px; width: 25px; vertical-align: middle;"
          referrerpolicy="no-referrer" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>