ion-content {
  --ion-background-color: var(--ion-color-rid-goodgreen-four);
  --background: #fff url("../../../assets/images/img-7.png") no-repeat top center / cover;
}

ion-button {
    text-transform: none;
}